body {
    background: black;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
#calculator {
        height: 475px;
        width: 300px;
        margin-top: 10%;
        margin-left: auto;
        margin-right: auto;
        background-color: #DCD3B7;
        box-shadow: -3px -6px 5px 2px rgb(255, 244, 215) inset;
        border-radius: 15px;
}
h4, h5, h6 {
    color: rgb(190, 190, 190);
    margin: 0 0 0 18px;
}
#solar-panel {
    width: 90%;
    height: 60px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    top: 10px;
    /*background-color: #23232F;*/
    background: linear-gradient(to bottom, #23232F, rgb(64, 64, 83) );
    /*solar cell: #3C2D1F, solar logo: #612023*/
}
#solar-cell {
    width: 50%;
    height: 55%;
    background-color: rgb(71, 53, 37);
    border: 1px inset rgb(64, 82, 82);
    position: relative;
    margin-left: 45%;
    bottom: 90%;
}
tr {
    font-size: 24px;
}
td {
    display: inline;
    padding: 4px 15px 2px 15px;
}
.visBorder {
    margin-left: 4px;
    border-right: 1px solid black;
}
#ridge {
    width: 90%;
    height: 70px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 10px;
    box-shadow: 0.2px 0 2px rgb(167, 159, 137);
    border-bottom: 0.5px outset rgba(196, 194, 194, 0.568);
    border-radius: 2px;
}
#inset {
    width: 85%;
    height: 50px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 6px;
    border-right: 0.5px outset rgba(196, 194, 194, 0.568);
    border-left: 0.5px ridge rgba(196, 194, 194, 0.568);
    box-shadow: 0 0.2px 2px rgb(167, 159, 137);
    border-radius: 3px;
}
#screen input{
    width: 90%;
    height: 25px;
    position: relative;
    margin-left: 10px;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 5px;
    background: linear-gradient(-5deg, rgb(151, 133, 91), #463F2C);
    background: -webkit-linear-gradient(-5deg, rgb(151, 133, 91) #463F2C); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(-5deg, rgb(151, 133, 91) #463F2C); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(-5deg, rgb(151, 133, 91) #463F2C); /* For Firefox 3.6 to 15 */
    /*background-color: #463F2C;*/
    border-radius: 3px;
    text-align: right;
}
#keys {
    position: absolute;
    margin-top: 30px;
    margin-left: 16px;
}
.button-top-row {
    width: 50px;
    height: 30px;
    border: 1px outset gray;
    border-radius: 6px;
    background-color: #666165;
    color: rgb(233, 233, 233);
    box-shadow: 0 1px 3px 0.2px #666165;
    font-weight: bold;
    font-size: 1em;

}
.button-row {
    width: 50px;
    height: 45px;
    border: 2.2px groove gray;
    border-radius: 8px;
    background-color: #666165;
    color: rgb(233, 233, 233);
    box-shadow: 0 1px 3px 0.2px #666165;
    font-weight: bold;
    font-size: 1.5em;
}
#em-minus, #em-plus {
    margin-left: 55px;
}
#plus {
    position: absolute;
    margin-top: -60px;
    height: 105px;
}
