body {
    background: black;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
#calculator {
        height: 475px;
        width: 300px;
        margin-top: 10%;
        margin-left: auto;
        margin-right: auto;
        background-color: #DCD3B7;
        border-radius: 15px;
}
h4, h5, h6 {
    color: rgb(190, 190, 190);
    margin: 0 0 0 18px;
}
#solar-panel {
    width: 95%;
    height: 60px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 10px;
    background-color: #23232F;
    /*solarr cell: #3C2D1F, solar logo: #612023*/
}
#ridge {
    width: 95%;
    height: 60px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 10px;
    border: 0.5px solid gray;
    border-radius: 2px;
}
#inset {
    width: 85%;
    height: 50px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 4px;
    border: 0.5px solid gray;
    border-radius: 3px;
}
#screen input{
    width: 90%;
    height: 20px;
    position: relative;
    margin-left: 10px;
    margin-right: auto;
    margin-top: 12px;
    margin-bottom: 5px;
    /*rgb(191, 209, 153*/
    background-color: #463F2C;
    border-radius: 3px;
    text-align: right;
}
#keys {
    position: absolute;
    margin-top: 30px;
    margin-left: 16px;
}
.button-top-row {
    width: 50px;
    height: 30px;
    border: none;
    border-radius: 6px;
    background-color: #666165;
    color: white;
}
.button-row {
    width: 50px;
    height: 45px;
    border: none;
    border-radius: 8px;
    background-color: #666165;
    color: white;
}
#em-minus, #em-plus {
    margin-left: 55px;
}
#plus {
    position: absolute;
    margin-top: -60px;
    height: 105px;
}
